In [ ]:
import pandas as pd
from sqlalchemy import create_engine

In [ ]:
# Repalce the path to excel placeholder with path to file. Use Google drive if running in Colab
excel_file = 'path/to/file.xlsx'
# Replace sheet name with actual file name
sheet_name = 'Sheet1'

In [ ]:
# Read the Excel file
df = pd.read_excel(excel_file, sheet_name=sheet_name)

In [ ]:
# Convert the DataFrame to JSON
json_data = df.to_json(orient='records')

In [ ]:
# Print out the JSON to see it
print(json_data)

In [ ]:
# Create an SQL engine instance
# Replace 'your_database_uri' with your actual database URI
engine = create_engine('your_database_uri')

In [ ]:
# Insert the JSON data into the SQL database
# Replace 'your_table_name' with your actual table name
with engine.connect() as conn:
    conn.execute(f"INSERT INTO your_table_name (json_column) VALUES ('{json_data}')")